.angular-form-tab{
    background-color: #001533;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
}

.active{
    color: #001533;
    background-color: #ffffff;
    border: 1px solid #001533;
}
table{
    width: 50%;
}
table, tr, td, th{
    border: 1px solid black;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    resize: none;
  }
  