/* You can add global styles to this file, and also import other style files */
.error_msg{
    color: red;
    font-size: 12px;
}

.register-form-container{
    border: 1px solid #333;
    width: 500px;
    flex-direction: column;
    padding: 20px;
}

label{
    width: 150px;
    min-width: 150px;
}

.form-class{
    width: fit-content;
}

.gender-lable{
    min-width: unset;
    width: fit-content;
    margin-right: 10px;
}